<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Аукционы в социальных сетях. <%- title !== 'undefined' ? title : '' %></title>
        <link href="/static/base/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

        <!--  Scripts-->
        <% scripts.forEach(scriptUrl => {  %><script src="<%-scriptUrl %>"></script><% }) %>
        <script src="/static/base/js/init.js"></script>
    </head>

    <body>
        <div class="alisomefy-nav">
            <%- include('web/_header.ejs') %>
        </div>
        <div class="alisomefy-wrapper">
            <% if ( pagePath ) { %>
                <%- include(pagePath) %>
            <% } %>

            <%- include('web/_footer.ejs') %>
        </div>
    </body>
</html>