<nav class="orange darken-2">
    <div class="container">
        <div class="nav-wrapper">
            <div class="col s12">
                <span class="breadcrumb">Регистрация</span>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row"><br></div>
    <div class="row">
        <form class="col s6 offset-s2" method="get" action="/user/doSignup">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="user[name]" id="name" type="text" class="validate">
                    <label for="name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="user[password]" id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <select name="user[gender]">
                        <option value="1" selected>Man</option>
                        <option value="2">Woman</option>
                    </select>
                    <label>Gender</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" data-length="150" name="user[email]">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="bio" class="materialize-textarea" name="user[bio]"></textarea>
                    <label for="bio">About</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="waves-effect waves-light btn submit-btn">Signup</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row"><br></div>
</div>

<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>
