/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
p {
  line-height: 2rem;
}

html, body{
    min-height: 100%;
    min-height: 100vh;
}

.alisomefy-wrapper{
    min-height: 100vh;
    position: relative;
    display: flex;
    align-content: stretch;
    padding: 0 0 0 300px;
    width: 100%;
    flex-basis: auto;
    flex-direction: column;
    justify-content: space-between;
}

.alisomefy-wrapper .side-nav{
    width: auto;
}

.alisomefy-nav{
    width: 300px;
    flex-basis: 300px;
}

.container{
    width: 90%
}

.material-icons{
    vertical-align: middle;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    .alisomefy-wrapper{
        padding: 0;
    }

    .alisomefy-nav{

    }
}