<nav class="orange darken-2">
    <div class="container">
        <div class="nav-wrapper">
            <div class="col s12">
                <span class="breadcrumb">Админка</span>
            </div>
        </div>
    </div>
</nav>

<div class="container" style="padding: 100px 0">
    <div class="row">
        <h5>Ветки в git: </h5>
        <ul class="collection">
            <% for(let i in branches) {%>
                <li class="collection-item">
                    <% if ( branches[i] === currentBranch ) {%>
                        <b><%= branches[i] %></b>
                    <% } else { %>
                        <%= branches[i] %>
                    <% } %>
                </li>
            <% } %>
        </ul>
    </div>
</div>