<footer class="page-footer grey lighten-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="grey-text text-darken-3">Ali Somefy</h5>
                <p class="grey-text text-darken-3">Данный проект послужит вам помощником в выборе интересных вещей с сайта aliexpress.ru</p>
            </div>
            <div class="col l3 s12">
                <h5 class="grey-text text-darken-3">Разделы</h5>
                <ul>
                    <li><a class="grey-text text-darken-3" href="/selection">Подборки товаров</a></li>
                    <li><a class="grey-text text-darken-3" href="/contact">Контакты</a></li>
                    <li><a class="grey-text text-darken-3" href="/about">О нас</a></li>
                    <li><a class="grey-text text-darken-3" href="/blog">Блог</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="grey-text text-darken-3">Контакты</h5>
                <ul>
                    <li><span class="grey-text text-darken-3"><i class="icon-phone"></i> +7 (952) 368 4885</span></li>
                    <li><a class="grey-text text-darken-3" href="https://vk.com/ali_somefy"><i class="icon-vkontakte"></i> Вконтакте</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey lighten-3">
        <div class="container grey-text text-darken-3">
            &copy; 2017 <a class="grey-text text-darken-3" href="https://vk.com/tameronlan">Abashev Timur</a>
        </div>
    </div>
</footer>