<ul id="nav-mobile" class="side-nav fixed">
    <div class="row">
        <a class="card" href="/">
            <div class="card-image">
                <img src="/static/base/img/top.jpg">
            </div>
        </a>
    </div>

    <li class="bold <%= path === 'about' ? 'active' : '' %>"><a href="/about" class="waves-effect waves-orange waves-lighten-3">О нас</a></li>
    <li class="bold <%= path === 'blog' ? 'active' : '' %>"><a href="/blog" class="waves-effect waves-orange waves-lighten-3">Блог</a></li>
    <li class="bold <%= path === 'contact' ? 'active' : '' %>"><a href="/contact" class="waves-effect waves-orange waves-lighten-3">Контакт</a></li>
    <li class="bold <%= path === 'login' ? 'active' : '' %>"><a href="/user/login" class="waves-effect waves-orange waves-lighten-3">Войти</a></li>
    <li class="bold <%= path === 'signup' ? 'active' : '' %>"><a href="/user/signup" class="waves-effect waves-orange waves-lighten-3">Регистрация</a></li>
</ul>
