<nav class="orange darken-2">
    <div class="container">
        <div class="nav-wrapper">
            <div class="col s12">
                <span class="breadcrumb">Блог</span>
                <!--<a href="/" class="breadcrumb">Блог</a>-->
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <p>Text text</p>
    <p>Text text</p>
</div>
